@charset "UTF-8";
.red {
  color: red;
}

/* ------------------------------------------------- *
 *        common-module
 * ------------------------------------------------- */
body {
  line-height: 2.0;
  color: #01030a;
  font-feature-settings: "palt";
  font-family: Helvetica Neue, Helvetica, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  background: #fff;
  position: relative;
}

.font-en {
  font-family: 'Roboto', sans-serif;
}

.mt-100 {
  margin-top: 100px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-15 {
  padding-bottom: 15px;
}

.note {
  color: #8a8687;
  font-size: 15px;
}

a {
  color: #01030a;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:hover, a :focus, a :active, a :visited, a :link {
  text-decoration: none;
  color: #6fc5c6;
}

::-moz-selection {
  background: #cae8f3;
}

::selection {
  background: #cae8f3;
}

::-moz-selection {
  background: #cae8f3;
}

.btn {
  user-select: none;
  border: none;
  box-shadow: none;
  text-align: center;
  background: #457ccb;
  color: #fff;
  display: inline-block;
  padding: 20px 70px;
  border-radius: 4px;
}

.btn a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 576px) {
  .btn {
    padding: 15px 70px;
  }
}
/* hover btn */
.hvr-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6fc5c6;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-btn:hover, .hvr-btn:focus, .hvr-btn:active {
  color: #c83230;
}

.hvr-btn:hover:before, .hvr-btn:focus:before, .hvr-btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.marker_yellow {
  background: linear-gradient(transparent 75%, #fff000 75%);
  display: inline;
}

.header {
  padding-top: 20px;
}
.header nav {
  width: 95%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  height: 72px;
}
.header nav img {
  height: 55px;
}
.header nav ul {
  list-style-type: none;
  padding: 0;
}
.header nav ul li {
  float: right;
  margin-left: 50px;
}
.header nav ul li:nth-child(n+2) {
  padding-top: 11px !important;
}
.header nav ul .btn {
  padding: 10px 30px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-top: 15px;
  }
  .header nav {
    width: 98%;
    padding: 5px 15px;
    height: 62px;
  }
  .header nav ul li {
    margin-left: 40px;
  }
}
@media screen and (max-width: 991px) {
  .header nav {
    opacity: .2;
    visibility: hidden;
    display: none;
  }
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.85rem 1rem 0.75rem;
  margin-bottom: 1rem;
  list-style: none;
  background: #fff;
  border-radius: none;
  border-bottom: 1px solid #ccc;
  font-size: 0.875rem;
  font-weight: 300;
}
.breadcrumb img {
  width: 50px;
  margin-top: 0px;
}

/* ------------------------------------------------- *
 *        footer-module
 * ------------------------------------------------- */
.section-contact {
  text-align: center !important;
  color: #fff;
  -moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.section-contact .general {
  background: #fff url("../../assets/imgs/cta01.jpg") no-repeat;
  position: relative;
  background-size: 100% auto;
}
.section-contact .medical {
  background: #fff url("../../assets/imgs/cta02.jpg") no-repeat;
  position: relative;
  background-size: 100% auto;
}
.section-contact .media_ {
  background: #fff url("../../assets/imgs/cta03.jpg") no-repeat;
  position: relative;
  background-size: 100% auto;
}
.section-contact h3 {
  padding: 2rem 0;
  font-size: 20px;
}
.section-contact h3:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 95px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 40px;
  /*下線の幅*/
  height: 2px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #fff;
  /*下線の色*/
}
.section-contact p {
  text-align: left;
  padding: 2.3rem 3rem 3.5rem;
}
.section-contact span {
  display: block;
  padding-bottom: 2.5rem;
}
.section-contact a {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .section-contact.mt-100 {
    margin-top: 80px !important;
  }
  .section-contact h3 {
    padding: 1.5rem 0;
    font-size: 20px;
  }
  .section-contact h3:before {
    top: 80px;
    height: 2px;
  }
  .section-contact p {
    padding: 1.3rem 3rem 1.5rem;
  }
  .section-contact span {
    padding-bottom: 3.5rem;
  }
}
@media screen and (max-width: 991px) {
  .section-contact h3 {
    padding: 1.0rem 0 1.3rem;
    font-size: 18px;
  }
  .section-contact h3:before {
    top: 60px;
    height: 2px;
  }
  .section-contact p {
    padding: 0rem 1.0rem .6rem;
    font-weight: normal;
  }
  .section-contact span {
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .section-contact h3 {
    padding: 2.0rem 0 1.3rem;
    font-size: 20px;
  }
  .section-contact h3:before {
    top: 80px;
    height: 2px;
  }
  .section-contact p {
    padding: 2rem 3.0rem 2.2rem;
    font-weight: bold;
  }
  .section-contact span {
    padding-bottom: 2.3rem;
  }

  footer {
    padding: 0 20px;
  }
  footer.mt-50 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .section-contact {
    margin: 0 0px;
    margin-top: 4rem;
  }
}
footer {
  background: #fff;
  color: #545454;
  padding: 0 2rem;
}
footer .footer-meta {
  background: #6fc5c6;
  padding: 2.5rem 0 2.0rem;
}
footer .footer-meta ul {
  list-style-type: none;
  padding-left: 0;
}
footer .footer-meta li {
  width: auto;
  height: auto;
  padding: 20px;
  margin: 10px;
}
footer .footer-meta .flex {
  display: flex;
  justify-content: center;
}
footer .footer-meta .flex li {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-meta .flex li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
footer .footer-meta .flex li a:hover, footer .footer-meta .flex li a :focus, footer .footer-meta .flex li a :active, footer .footer-meta .flex li a :visited, footer .footer-meta .flex li a :link {
  text-decoration: none;
  opacity: .5;
}
footer .footer-meta .flex li p {
  display: block;
}
footer .footer-meta .sns p {
  float: left;
  margin-right: 3rem;
}
footer .footer-meta .sns .fa-facebook-square, footer .footer-meta .sns .fa-twitter-square, footer .footer-meta .sns .fa-youtube-square {
  padding-right: 11px;
}
footer .footer-navi {
  font-size: 14px;
  margin-top: 20px;
  background: #f4f4f4;
  padding: 40px 40px;
  font-weight: bold !important;
}
footer .footer-navi a {
  color: #545454;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
footer .footer-navi a:hover, footer .footer-navi a :focus, footer .footer-navi a :active, footer .footer-navi a :visited, footer .footer-navi a :link {
  text-decoration: none;
  color: #6fc5c6;
}
footer .footer-navi ul {
  list-style-type: none;
  padding: 0;
  font-weight: normal;
  margin-top: 20px;
}
footer .footer-navi ul li {
  padding-left: 15px !important;
  margin-bottom: 15px;
  line-height: 1.65;
  padding-left: .65em;
  text-indent: -.65em;
}
footer .footer-navi ul li:before {
  content: "- ";
}
footer .footer-copy {
  padding-bottom: 10px;
  font-size: 14px;
}
footer .footer-copy a {
  color: #545454;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
footer .footer-copy a:hover, footer .footer-copy a :focus, footer .footer-copy a :active, footer .footer-copy a :visited, footer .footer-copy a :link {
  text-decoration: none;
  color: #6fc5c6;
}
footer .footer-copy .font-en {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  footer .footer-meta {
    padding: 1.5rem 0 1.0rem;
  }
  footer .footer-meta li {
    margin: 0px;
  }
  footer .footer-meta li p {
    margin-top: 10px;
  }
  footer .footer-meta .flex {
    display: block;
    text-align: center;
  }
  footer .footer-meta .flex li {
    display: block;
    text-align: center;
  }
  footer .footer-meta .flex li p {
    display: block;
  }
  footer .footer-meta .sns p {
    float: none;
    margin-right: 0rem;
  }
  footer .footer-meta .sns p:last-child {
    margin-bottom: 0;
  }
  footer .footer-navi {
    padding: 30px 30px 10px;
  }
  footer .footer-navi p {
    padding-bottom: 25px;
  }
  footer .footer-navi ul {
    padding: 0;
    font-weight: normal;
    margin-top: 0px;
  }
  footer .footer-navi ul li {
    padding-left: 25px !important;
  }
}
@media screen and (max-width: 576px) {
  /*.block-content {
  	background: pink;
  }*/
  footer {
    padding: 0 30px;
  }

  /*.btns-footer {
  	visibility:hidden;
  	display:none;
  }*/
}
.block-menu-btn {
  background: #fff;
  position: fixed;
  z-index: 9998;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  height: auto;
  border-radius: 4px;
  padding: 0px 0px 0px 0rem;
  height: 50px;
  top: 5px;
  border-bottom: 1px solid #ccc;
}
.block-menu-btn .row div {
  flex: 1;
}
.block-menu-btn .row .logo {
  padding: 0.25rem 0px 0px 0px;
  margin-left: -120px;
}
.block-menu-btn .row .logo img {
  width: 120px;
}
.block-menu-btn .row .menu-btn {
  padding-top: 12px;
  padding-left: 1.2rem;
}
.block-menu-btn .row .menu-btn p {
  font-size: 10px;
  font-weight: 700;
  margin-top: -9px;
  margin-left: -3px;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.menu-trigger, .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 32px;
  height: 24px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #457ccb;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

.burger-navi .overlay a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.burger-navi .overlay {
  padding-top: 60px;
  position: fixed;
  top: 0;
  z-index: 9990;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: #eee;
}

.burger-navi .menu {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.burger-navi .menu .nav-sp {
  border-bottom: 1px solid #8c8c8c;
  width: 100%;
  height: 10.5%;
  padding-left: 1.2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-webkit-align-items: center;
  align-items: center;
}
.burger-navi .menu .nav-sp div {
  flex: 2;
}
.burger-navi .menu .nav-sp .ar {
  font-size: 1.55rem;
  padding-right: 1.5rem;
  flex: 1;
}
.burger-navi .menu .btn-sp-contact {
  padding: 1rem 4rem;
}
.burger-navi .menu .nav-lang {
  padding-bottom: 1.5rem;
}

.burger-navi .menu .area-btn a {
  color: #fff !important;
}

.burger-navi .menu .area-btn p {
  display: block;
  margin-top: 10px;
}

.burger-navi .menu a, .burger-navi .menu .area-btn p a {
  color: #333 !important;
}

.burger-navi .menu .area-btn p a {
  font-size: .875rem;
}

.burger-navi .fa-facebook-square, .burger-navi .fa-twitter-square, .burger-navi .fa-youtube-square {
  display: block;
  font-size: 2rem;
}

.breadcrumb {
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  padding: .5rem 2rem;
  color: #333;
}
.breadcrumb img {
  width: 20px;
  margin-right: 7px;
}
.breadcrumb a {
  color: #333;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.breadcrumb a:hover, .breadcrumb a :focus, .breadcrumb a :active, .breadcrumb a :visited, .breadcrumb a :link {
  text-decoration: none;
  color: #6fc5c6;
}

@media screen and (max-width: 768px) {
  #top .area-mission, #career .area-mission {
    padding: 0 30px;
  }
}
.area-mission {
  text-align: center;
}
.area-mission .parent {
  position: relative;
  z-index: 4999;
}
.area-mission .content {
  margin-top: 40px !important;
}
.area-mission .txt {
  position: absolute;
  z-index: 5000;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 95%;
  display: block;
  background: #fff;
  padding: 3rem 2rem;
  -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.52);
  margin-top: -40px;
}
.area-mission .txt .txt-parent {
  text-align: center;
}
.area-mission .txt p {
  text-align: left;
  display: inline-block;
  font-size: 25px;
}
.area-mission .btn {
  margin-top: 260px;
}

@media screen and (max-width: 1200px) {
  .area-mission .txt {
    padding: 3rem 1.5rem;
    margin-top: -40px;
  }
  .area-mission .txt p {
    font-size: 23px;
  }
  .area-mission .btn {
    margin-top: 240px;
  }
}
@media screen and (max-width: 991px) {
  .area-mission .txt {
    padding: 2rem 1.5rem;
  }
  .area-mission .txt p {
    font-size: 20px;
  }
  .area-mission .btn {
    margin-top: 190px;
  }
}
@media screen and (max-width: 768px) {
  .area-mission .content {
    margin-top: 30px !important;
  }
  .area-mission .txt {
    position: static;
    width: 100%;
    margin: 0 auto;
    left: 0%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    padding: 2rem 0rem !important;
    margin-top: 0px;
  }
  .area-mission .txt p {
    font-size: 18px;
  }
  .area-mission .btn {
    margin-top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .area-mission .txt {
    width: 100%;
    padding: 2rem 2rem !important;
  }
}
.area-news {
  padding: 0 30px;
  text-align: center;
}
.area-news .content {
  margin-top: 40px;
}
.area-news .content ul {
  list-style-type: none;
  display: block;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
.area-news .content ul li {
  line-height: 1.65;
  float: left;
  text-align: left;
  margin-bottom: 30px;
}
.area-news .content ul li a {
  cursor: pointer;
}
.area-news .content ul li:first-child {
  font-size: 13px;
  font-weight: 600;
  width: 85px;
}
.area-news .content ul li:nth-child(2) {
  text-align: center;
  width: 140px;
  font-size: 12px;
  font-weight: 600;
  background: yellow;
  background: #ccc;
  border-radius: 20px;
  display: inline-block;
  padding: 2px 5px;
  color: #fff;
}
.area-news .content ul li:nth-child(2).app {
  background: #447371;
}
.area-news .content ul li:nth-child(2).press {
  background: #2bb59b;
}
.area-news .content ul li:nth-child(2).platform {
  background: #6fc5c6;
}
.area-news .content ul li:last-child {
  padding-left: 20px;
  width: calc(100% - 230px);
}
.area-news .content .txt {
  margin-top: 6.5%;
  text-align: left;
}
.area-news .btn {
  margin-top: 30px;
}

@media screen and (max-width: 991px) {
  .area-news .btn {
    margin-top: 0px;
  }
}
@media screen and (max-width: 576px) {
  #top .area-news {
    padding: 0 30px;
  }

  .area-news .content {
    margin-top: 30px;
  }
  .area-news .content ul {
    margin-bottom: 40px;
  }
  .area-news .content ul li {
    line-height: 1.65;
    text-align: left;
    margin-bottom: 0px;
  }
  .area-news .content ul li:first-child {
    float: left;
    width: 80px;
  }
  .area-news .content ul li:nth-child(2) {
    float: left;
    width: 125px;
  }
  .area-news .content ul li:last-child {
    padding-top: 10px;
    float: none;
    display: block;
    padding-left: 0px;
    width: 100%;
    clear: both;
  }
  .area-news .content .txt {
    margin-top: 6.5%;
    text-align: left;
  }
  .area-news .btn {
    margin-top: 0px;
  }
}
